.BuildControls {
    width: 100%;
    background-color: darkgoldenrod;
    display: flex;
    flex-flow: column;
    align-items: center;
    box-shadow:  0 2px 1px #ccc;
    margin: auto;
    padding: 10px 0;
}

.OrderButton{
    background-color: #4CAF50; /* Green */
     border: none;
   
   padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 50%;
   
}

@keyframes rotate {
    100%{
        transform: rotate(360deg);
    }
}

.OrderButton:hover{
    background-color: #5fe964; /* Green */
}
